@import "tailwindcss";

@layer components {
   .cardDash {
      @apply bg-base-card text-base-title p-4 flex flex-col items-center gap-4 rounded-xl 
   }
   .spanMessage {
      @apply text-red-500 font-semibold
   }
}

@layer base {
    * {
  box-sizing: border-box;
  max-width: 100%;
}
   
}




@theme {
  
  --color-base-bg: #0E0E11;         
  --color-base-sidebar: #121215;   
  --color-base-card: #16161A;     
  --color-base-input: #0E0E11;     


 
  --color-base-border: #232329;   
  --color-base-hover: #1F1F24;     



  --color-base-btn-bg: #FAFAFA;    
  --color-base-btn-hover: #E4E4E7;
  --color-base-btn-text: #09090b; 



  --color-base-gold: #D4A373;    
  --color-base-gold-hover: #A3700C;


 
  --color-base-title: #FAFAFA;    
  --color-base-subtitle: #D4D4D8; 
  --color-base-text: #A1A1AA;    
  --color-base-label: #52525B;    


  --color-base-success: #34d399;  
  --color-base-alert: #fbbf24;  
  --color-base-error: #fb7185;    
}